{% extends 'reunion/base.html' %}
{% load static %}
{% block title %}Смена пароля{% endblock %}

{% block content %}

    <section class="login-main-container">
{#        <div class="tie-left"></div>#}
        {% if form.is_bound and form.errors %}
            <div class="errors-container errors bordered">
                <h2>Что-то пошло не так!</h2>
                {{ form.errors }}
                <img class = "icon_big" src="{% static 'reunion/img/icon_mistake.png' %}" alt="">

            </div>
            <br>
        {% endif %}
        <div class="header-container bordered">
            <h1>
                Смена пароля
            </h1>
        </div>
        <br>
        <div class="form-container bordered">
            <form method="post" class="form-container__form">
                {% csrf_token %}
                <div class="form-container__item">
                    <img src="{% static 'reunion/img/icon-password.png' %}" alt="">
                    {{ form.old_password }}
                    <h2>Старый пароль</h2>
                </div>
                <div class="form-container__item">
                    <img src="{% static 'reunion/img/icon-password.png' %}" alt="">
                    {{ form.new_password1 }}
                    <h2>Новый пароль</h2>
                </div>
                <div class="form-container__item">
                    <img src="{% static 'reunion/img/icon-password.png' %}" alt="">
                    {{ form.new_password2 }}
                    <h2>И ещё разок</h2>
                    <p class="small-text">Пароль не должен быть слишком похож на другую вашу личную информацию.
Ваш пароль должен содержать как минимум 8 символов.
Пароль не должен быть слишком простым и распространенным.
Пароль не может состоять только из цифр.</p>
                </div>
                
                <button type="submit" class="form-container__button button"> СМЕНИТЬ</button>
            </form>
        </div>>
    </section>

{% endblock %}


