{% extends 'reunion/base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <section class="main-container">
{#        <div class="tie-left"></div>#}
        <div class="header-container bordered">
            <h1>
                Восстановление пароля
            </h1>
        </div>
        <br>
        <div class="text-container bordered">
            <p>
                Пароль успешно изменён! 
            </p>
            <img class = "icon_big" src="{% static 'reunion/img/icon-thumb.png' %}" alt="">
        </div>
        
        <div class="login-container bordered">
            <div class="login-container__inner container-over-ref">
                <a href="{% url 'login' %}" class="login-ref ref">ВОЙТИ</a>
            </div>
        </div>
        
    </section>
{% endblock %}