{% extends 'reunion/base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <section class="main-container">
{#        <div class="tie-left"></div>#}
        {% if form.errors %}
            <div class="errors-container errors bordered">
                <h2>Что-то пошло не так!</h2>
                <h3>Такой почты не бывает</h3>
                <img class = "icon_big" src="{% static 'reunion/img/icon_mistake.png' %}" alt="">
            
            </div>
            <br>
        {% endif %}
        <div class="header-container bordered">
            <h1>
                Восстановление пароля
            </h1>
        </div>
        <br>
        <div class="form-container bordered">
            <form method="post" class="form-container__form">
                {% csrf_token %}
                <div class="form-container__item">
                    <h2>Тебе на почту придёт письмо со ссылкой для сброса пароля</h2>
                    <br>
                    <img src="{% static 'reunion/img/icon_email.png' %}" alt="">
                    {{ form.email }}
                    <h2>Адрес электронной почты</h2>
                    <button type="submit" class="form-container__button button"> ОТПРАВИТЬ</button>
                </div>
            </form>
        </div>>
        
    </section>
{% endblock %}