{% extends 'reunion/base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <section class="main-container">
{#        <div class="tie-left"></div>#}
        <div class="header-container bordered">
            <h1>
                Восстановление пароля
            </h1>
        </div>
        <br>
        <div class="text-container bordered">
            <p>
                На указанный адрес отправлено письмо со ссылкой для сброса пароля.
                <br>
                Проверь почту!
                <img class = "icon" src="{% static 'reunion/img/icon_mail-send.png' %}" alt="">
            </p>
        </div>
        <br>
 
        
    </section>
{% endblock %}