{% extends 'reunion/base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <section class="main-container">
{#        <div class="tie-left"></div>#}
        <div class="header-container bordered">
            <h1>
                Пароль успешно изменён
            </h1>
        </div>
        <br>
        <div class="icon-container">
            <img class="icon" src="{% static 'reunion/img/icon-thumb.png' %}" alt="">
        </div>
        <div class="login-container bordered">
            <div class="login-container__inner container-over-ref">
                <a href="{% url 'mainpage' %}" class="login-ref ref">НА ГЛАВНУЮ</a>
            </div>
            <br>
        </div>


        
 
        
    </section>
{% endblock %}