{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Встреча выпускников</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap">
    <link rel="stylesheet" href="{% static 'reunion/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'reunion/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'reunion/css/style.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="login-container bordered">
            <div class="login-container__inner container-over-ref">
                <a href="#" class="login-ref ref">ВОЙТИ</a>
            </div>
        </div>
        <div class="header-container bordered">
            <h1>
                Встреча выпускников МСШ №2 1996 года выпуска
            </h1>
        </div>
        <br>
        <div class="text-container bordered">
            <p>
                Здравствуйте, одноклассники и одноклассницы! Давно не виделись.
                <br>
                В 2026 году будет 30 лет, как мы закончили Медведевскую среднюю школу №2.
                <br>Каждый уже прожил довольно большую жизнь. Кто-то из вас продолжает видеться каждый день и всё знает друг о друге, а кто-то пошёл своей дорогой и вообще понятия не имеет как живут те, с кем он провёл немало лет в одном классе.
                <br>Поэтому, я предлагаю вам заполнить этот сайт своими хотя бы короткими историями. Напишите где вы ещё учились, чем занимались, где работали или служили. Что важного произошло в ваших жизнях. Напишите обязательно о своих детях и внуках.
                <br> Ну и приложите несколько фоток в разных возрастах - от школьных до современных.
                <br><br>А для защиты от посторонних и ботов ответьте на один простой вопрос:
            </p>
        </div>
        <br>
        <div class="question-container bordered">
            <h2 class="question-container__text">Какое было прозвище у нашего директора?</h2>
            <form action="">
                <input class="question-container__input" type="text">
                <br>
                <button class="container-over-ref button">ОТВЕТИТЬ</button>
            </form>
        </div>

        <div class="reg-btn-container bordered">
            <div class="reg-btn-container__inner container-over-ref">
                <a href="#" class="login-ref ref">РЕГИСТРАЦИЯ</a>
            </div>
        </div>
    </div>
</body>
</html>

