* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/blackboard.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: pangolin;
}

.contacts-container {
  display: flex;
  justify-content: end;
  margin-top: 43px;
  margin-right: 43px;
}

.header-container {
  font-size: 2rem;
  text-align: center;
  color: whitesmoke;
  position: relative;
}
.header-container_user-info {
  margin-top: 22px;
}

.upper-container {
  margin-top: 20px;
  color: whitesmoke;
  display: flex;
}

.user-data {
  margin-left: 46px;
  margin-top: 10px;
  width: max-content;
}
.user-data__line {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 21px;
}
.user-data__label {
  font-size: 1rem;
  width: 146px;
  margin-left: 18px;
  text-align: left;
}
.user-data__form-input {
  margin-left: 23px;
}
.user-data__form-input input {
  height: 35px;
  width: 255px;
  background-color: #D9d9d9;
  color: black;
}
.user-data__button {
  display: flex;
  justify-content: right;
}

.icon {
  width: 32px;
}

.button {
  font-size: 1rem;
  color: #DFD0BB;
  background: #76362C;
  border-radius: 7px;
  height: 34px;
  padding-left: 7px;
  padding-right: 7px;
}
.button_upload {
  padding: 4px;
  border: solid black 1px;
}
.button_delete {
  background: none;
  position: relative;
  border: none;
  display: inline;
}
.button_delete img {
  width: 25px;
}
.button_delete img:hover {
  transform: scale(1.2);
}
.button:hover {
  transform: scale(1.1);
}
.button:active {
  background: #43555F;
}
.button_white {
  padding-top: 0;
  background: none;
  font-size: 1.5rem;
  color: whitesmoke;
  border: none;
  position: relative;
  bottom: 3px;
}
.button_white:hover {
  transform: scale(1.1);
}
.button_white:active {
  color: #76362C;
}

.decor-stroke {
  display: flex;
  justify-content: left;
  align-content: center;
  width: 22px;
  margin-top: 10px;
  margin-left: 30px;
}
.decor-stroke_center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 27px;
}

.vertical {
  height: 350px;
}

.horizontal {
  width: 450px;
}

.young-teen-pictures-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.profile-picture {
  max-width: 293px;
  display: flex;
  flex-flow: column;
  margin-left: 20px;
  align-content: center;
}
.profile-picture h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.profile-picture form {
  margin: 20px auto;
}

.file-input {
  display: none;
}

.custom-upload-btn {
  display: inline-block;
  padding: 8px 14px;
  background: #76362C;
  color: #DFD0BB;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
}
.custom-upload-btn:hover {
  background: #5c2922;
}

.icon-ref:hover {
  transform: scale(1.6);
}

.nav-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav-container a {
  text-decoration: none;
  color: whitesmoke;
}
.nav-container a:hover {
  transform: scale(1.2);
}
.nav-container a:active {
  color: #43555F;
}

.wellcome-picture-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.wellcome-picture-container img {
  width: 800px;
}

.login_ref {
  text-decoration: none;
}

.my-history-container {
  margin-top: 10px;
  padding: 12px;
}
.my-history-container h2 {
  text-align: center;
  font-size: 1.5rem;
}
.my-history-container textarea {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

.users-container {
  color: whitesmoke;
  font-size: 1.5rem;
  margin-left: 50px;
  margin-top: 50px;
}
.users-container li {
  margin-top: 15px;
}
.users-container li a {
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
}
.users-container li a:hover {
  transform: scale(1.1);
}

.gallery-container {
  margin-top: 20px;
  color: whitesmoke;
  margin-left: 30px;
}
.gallery-container__header {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.gallery-container__upload {
  border: solid whitesmoke;
  border-radius: 10px;
  padding: 15px;
  display: block;
  width: max-content;
  margin: 10px auto 41px;
}
.gallery-container__upload input {
  color: gold;
}
.gallery-container__upload textarea {
  height: 50px;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-top: 15px;
  padding: 4px;
}
.gallery-container__upload button {
  margin-top: 10px;
}
.gallery-container__gallery {
  width: max-content;
  margin: auto;
}
.gallery-container__gallery__photo {
  margin: 32px 10px 10px 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}
.gallery-container__gallery__photo__delete {
  margin-left: 20px;
}
.gallery-container__gallery__description {
  text-align: center;
}
.gallery-container__history {
  margin-top: 20px;
  margin-left: 16px;
  margin-right: 48px;
  background: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  color: black;
}

.small-textarea label {
  display: inline-block;
  width: 72px;
}
.small-textarea textarea {
  height: 30px;
}

.comments {
  background-color: whitesmoke;
  color: black;
  width: 92%;
  border-radius: 10px;
  position: relative;
  padding: 14px;
  margin-left: 5px;
}
.comments__write-comment {
  background: none;
}
.comments textarea {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

.comment {
  margin-bottom: 10px;
}
.comment__author {
  color: #76362C;
  display: inline;
}
.comment__date {
  color: #76362C;
  font-size: 70%;
}
.comment button {
  border: none;
  position: relative;
  top: 2px;
}
.comment img {
  width: 15px;
}
.comment img:hover {
  transform: scale(1.5);
}
.comment__comment {
  margin-top: 4px;
  display: flex;
  min-width: 0;
  align-items: end;
}
.comment__comment__text {
  max-width: 800px;
}

.navigation-container {
  margin-top: 49px;
  margin-left: 43px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navigation-container__in {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.navigation-container__out {
  display: flex;
  gap: 20px;
}
.navigation-container__contacts {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: whitesmoke;
  font-size: 1rem;
}
.navigation-container a {
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  font-size: 1.5rem;
}
.navigation-container a:hover {
  transform: scale(1.1);
}

.users-container img {
  width: 50px;
}
.users-container a {
  margin-left: 10px;
}

.contacts {
  margin-left: 50px;
  margin-top: 20px;
}
.contacts__item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.contacts__item a {
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  font-size: 1.5rem;
}
.contacts__item a:hover {
  transform: scale(1.1);
}

@media (max-width: 1030px) {
  body {
    background-image: url("../img/blackboard_rotated.png");
  }
}
@media (max-width: 925px) {
  .header-container {
    font-size: 1.8rem;
  }
  .user-data__label {
    font-size: 0.8rem;
    width: 92px;
  }
  .user-data__form-input input {
    height: 30px;
    width: 192px;
  }
  .button {
    font-size: 0.8rem;
  }
  .button_white {
    font-size: 1rem;
  }
  .profile-picture h2 {
    font-size: 1rem;
  }
  .custom-upload-btn {
    font-size: 0.8rem;
  }
  .nav-container {
    font-size: 1rem;
  }
  .my-history-container h2 {
    font-size: 1.5rem;
  }
  .icon {
    width: 25px;
  }
  .decor-stroke {
    width: 13px;
    margin-left: 14px;
  }
  .horizontal {
    width: 366px;
  }
  .gallery-container img {
    max-width: 600px;
  }
  .comment__comment__text {
    max-width: 600px;
  }
  .navigation-container a {
    font-size: 1rem;
  }
}
@media (max-width: 772px) {
  .upper-container {
    flex-wrap: wrap;
  }
  .profile-picture {
    margin-left: 49px;
  }
  .young-teen-pictures-container {
    max-width: 650px;
  }
  .gallery-container__upload {
    max-width: 650px;
    margin: 10px 10px 38px 14px;
  }
}
@media (max-width: 672px) {
  .gallery-container__upload {
    max-width: 450px;
  }
  .gallery-container img {
    max-width: 450px;
  }
  .gallery-container__gallery__photo {
    margin: 32px 10px 10px 0px;
  }
  .comment__comment__text {
    max-width: 450px;
  }
}
@media (max-width: 534px) {
  body {
    background-image: url("../img/blackboard_rotated_narrow.png");
  }
  .decor-stroke {
    display: none;
  }
  .gallery-container__upload {
    max-width: 300px;
  }
  .gallery-container__upload textarea {
    max-width: 270px;
  }
  .gallery-container img {
    max-width: 300px;
  }
  .comment__comment__text {
    max-width: 300px;
  }
  .navigation-container {
    margin-right: 24px;
    margin-left: 20px;
  }
}
@media (max-width: 420px) {
  .user-data {
    margin-left: 26px;
    max-width: 277px;
  }
  .user-data__form-input input {
    width: 142px;
    font-size: 80%;
  }
  .user-data__label {
    width: 67px;
  }
  .profile-picture {
    margin-left: 14px;
  }
  .profile-picture h2 {
    margin-top: 26px;
  }
  .gallery-container img {
    max-width: 260px;
  }
  .gallery-container input {
    max-width: 200px;
  }
  .gallery-container__upload {
    max-width: 250px;
  }
  .gallery-container__upload textarea {
    max-width: 200px;
  }
  .comments__write-comment {
    max-width: 310px;
  }
}
