* {
  box-sizing: border-box;
}

.main-container {
  background-image: url("../img/school.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  font-family: pangolin;
  position: relative;
  display: block;
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 123px;
  height: 63px;
  position: relative;
  top: 17px;
}
.login-container__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 34px;
  border-radius: 7px;
}
.login-container__inner:hover {
  width: 91px;
  height: 39px;
}

.ref {
  font-size: 20px;
  color: #DFD0BB;
  text-decoration: none;
}

.container-over-ref {
  background-color: #76362C;
  border-radius: 7px;
}
.container-over-ref:hover {
  background-color: #43555F;
}

.bordered {
  background-color: rgba(223, 208, 187, 0.8);
  border-radius: 13px;
  backdrop-filter: blur(2px);
}

.header-container {
  margin-top: 40px;
  display: inline-block;
}
.header-container h1 {
  padding: 13px;
  font-size: 40px;
}

.text-container {
  margin-top: 30px;
  display: inline-block;
  max-width: 1000px;
}
.text-container p {
  padding: 13px;
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
}

.question-container {
  margin-top: 30px;
  display: inline-block;
  padding-bottom: 13px;
}
.question-container__text {
  padding: 13px;
  font-size: 20px;
  font-weight: bold;
}
.question-container__input {
  margin-top: 13px;
  height: 43px;
  background-color: #EDE9DE;
}

.button {
  margin-top: 20px;
  font-size: 20px;
  color: #DFD0BB;
  text-decoration: none;
  width: 114px;
  height: 34px;
}
.button:hover {
  width: 119px;
  height: 39px;
  background-color: #43555F;
}

.registration-link-container {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 181px;
  height: 63px;
  position: relative;
  top: 17px;
}
.registration-link-container__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 34px;
  border-radius: 7px;
}
.registration-link-container__inner:hover {
  width: 149px;
  height: 39px;
}
.registration-link-container_active {
  display: flex;
}
