$light: #DFD0BB
$brown: #76362C
$hover-color: #43555F

*
    box-sizing: border-box

.main-container
    background-image: url("../img/school.jpg")
    background-attachment: fixed
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    width: 100%
    min-height: 100vh
    font-family: pangolin
    position: relative
    display: block
    text-align: center


.login-container
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    //padding: 10px
    width: 123px
    height: 63px
    position: relative
    top: 17px
    &__inner
        //display: block
        //margin: auto
        display: flex
        justify-content: center
        align-items: center
        width: 86px
        height: 34px
        border-radius: 7px
        //text-align: center
        //padding-top: 5px
        &:hover
            width: 91px
            height: 39px
            //padding-top: 10px




.ref
    font-size: 20px
    color: $light
    text-decoration: none

.container-over-ref
    background-color: $brown
    border-radius: 7px
    &:hover
        background-color: $hover-color

.bordered
    //background-color: $light
    background-color: rgba(223, 208, 187, 0.8)
    border-radius: 13px
    backdrop-filter: blur(2px)

.header-container
    margin-top: 40px
    display: inline-block


    h1
        padding: 13px
        font-size: 40px

.text-container
    margin-top: 30px
    display: inline-block
    max-width: 1000px
    p
        padding: 13px
        font-size: 20px
        text-align: left
        line-height: 1.5

.question-container
    margin-top: 30px
    display: inline-block
    padding-bottom: 13px
    &__text
        padding: 13px
        font-size: 20px
        font-weight: bold
    &__input
        margin-top: 13px
        //font-size: 40px
        //line-height: 43px
        height: 43px
        background-color: #EDE9DE

.button
    margin-top: 20px
    font-size: 20px
    color: $light
    text-decoration: none
    width: 114px
    height: 34px
    &:hover
        width: 119px
        height: 39px
        background-color: $hover-color

.registration-link-container
    display: none
    justify-content: center
    align-items: center
    margin: 0 auto
    width: 181px
    height: 63px
    position: relative
    top: 17px

    &__inner
        display: flex
        justify-content: center
        align-items: center
        width: 144px
        height: 34px
        border-radius: 7px
        &:hover
            width: 149px
            height: 39px

    &_active
        display: flex



  